# the following files should be put in <project root>/config/
# base.toml
[application]
enable_tracing = true
trace_level = "debug"

[database]
host = "127.0.0.1"
port = 5432
username = "postgres"

# local.toml or prod.toml 
[application]
discord = "<bot token>"
discord_guild_id = <guild_id of discord server (guild) to run bot on>
testnet = true
rpc_user = "<rpc_user>"
rpc_password = "<rpc_password>"
rpc_port = <rpc_password>
global_withdrawal_fee = 50000 # in sats
min_deposit_threshold = 100000000
min_deposit_confirmations_small = 3
min_deposit_confirmations_large = 10
zmq_block_port = 59790
zmq_tx_port = 59791
# these should be the discord user ids of the admins of the bot
owners = [
    "0123", 
    "4567"
]

[database]
database_name = "<database_name>"
password = "<password of db>" # do not use the default db password, you WILL be hacked